@import "../../common.scss";


.g-index {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32rpx 40rpx;
  background:#F8F9FF;


  &>.m-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60rpx;

    
    
    image {
      width: 184rpx;
      height: 184rpx;
      padding: 45rpx;
      box-sizing: border-box;
      background:#eee;
      border-radius: 92rpx;
      margin-bottom: 20rpx;
      border: 4rpx solid #eee;
    }
    

    &.sel {
      image {
        border: 4rpx solid $MAIN_COLOR;
      }
      text {
        font-weight: bold;
        color: $MAIN_COLOR;
      }
    }

    text {
      font-size: 28rpx;
      color: #666;
    }
  }

  .m-next {
    width: 70%;
    height: 90rpx;
    margin: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rpx;
    background: $MAIN_COLOR;
    color: #fff;
  }

  .m-sp {
    flex: 1;
    width: 100%;
  }

  .m-info {
    font-size: 24rpx;
    color: #999;
  }
}